<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="true">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
    </listeners>
    <test name="testGIT">
        <classes>
            <class name="com.epam.lab.TestGit"/>
        </classes>
    </test>
    <test name="FailedTestGIT">
        <classes>
            <class name="com.epam.lab.TestGitFailed"/>
        </classes>
    </test>
    <test name="testGmail">
        <classes>
            <class name="com.epam.lab.TestGmail"/>
        </classes>
    </test>
</suite>
